.logos {
    float: right;
    transform: rotate(19deg);
    animation: fadeAnimation 2s infinite;
    padding-right: 140px;
    padding-top: 70px;
    height: 630px;
    top: 50px;
  }
  
  
  @keyframes fadeAnimation {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }

  
  @media screen and (max-width: 1200px)  {
  .logos{
    height: 200px;
  }
  }
